body{
margin:0;
font-family:Segoe UI;
background:#f2f4f8;
}

.header{
background:linear-gradient(135deg,#6a11cb,#2575fc);
color:white;
padding:25px;
border-bottom-left-radius:40px;
border-bottom-right-radius:40px;
}

.balance{
font-size:32px;
font-weight:bold;
margin-top:10px;
}

.container{
text-align:center;
padding:30px;
}

button{
border:none;
cursor:pointer;
}

.mic{
background:#6a11cb;
color:white;
padding:15px 35px;
border-radius:30px;
font-size:18px;
margin-bottom:20px;
}

.inputBox{
display:flex;
gap:10px;
margin-bottom:25px;
}

.inputBox input{
flex:1;
padding:14px;
border-radius:12px;
border:1px solid #ccc;
font-size:16px;
}

.inputBox button{
background:#6a11cb;
color:white;
padding:14px 25px;
border-radius:12px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
gap:15px;
}

.cardBtn{
background:white;
padding:20px;
border-radius:18px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
font-size:17px;
}

.historyPanel{
display:none;
background:white;
margin-top:25px;
padding:20px;
border-radius:18px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
text-align:left;
}

.log{
margin-top:20px;
font-weight:500;
}